rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /verifications/{verificationId} {
      allow read, write: if false;
    }
    match /number_verification_requests/{state} {
      allow read, write: if false;
    }
  }
}
